@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x:hidden;
}
header {
    position:absolute;
    top: 0; left: 0;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    border-bottom: 1px dotted black;
    background-color: #0c3d33;
    color: #fff;
}
.home {
    color:#fff;
}
.logo {
    margin-top: 3px;
    margin-left: 10px;
    height: 3em;
}
.navhead a {
    /* border-bottom: 1px solid black; */
    font-weight: 600;
    padding-left: 20px;
    position: absolute;
    top:0; left: 0;
    margin-top: 25px;
    margin-left: 50px;
}
.home:hover {
    color:goldenrod;
}
.logo, .navhead a {
    margin-bottom: 6px;
}
body {
    margin: 0;
    padding: 0;
    /* display:flex; */
    flex-direction:column;
    position:relative;
    color:#0c3d33;
    background-color:rgb(222, 222, 238);
}
h1 {
    color:darkslategray;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
.grid-contain {
    display: grid;
    grid-template-columns:repeat(4,auto);
    padding-left:10px;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color:darkslategray;
    font-weight: 550;
}
a:hover {
    color:darkolivegreen;
    font-weight:400;
}
.ingred_title {
    padding:0px;
    margin:0px;
}
.foodintro {
    text-align: center;
}
.amount {
    text-align:center;
}
.fooditems {
    padding-right:8px;
    text-align:center;
}

.table_top {
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 20px;
    background:#0c3d338a;
    text-align: center;
    color:rgba(0,0,0,.9);
}
.subtable tr:nth-child(odd) {
    background-color: rgba(0,0,0,.18);
}
.ingred .food {
    text-align:right;
    padding-left: 18px;
    padding-right:6px;

}
.ingred, .steps, .rating {
    font-size: 95%;
    color:black;
}
.ingred td{
    padding-left:5px;
    font-size: 14px;
}
.step_title, .ingred_title {
    margin-bottom:5px;
    font-variant:small-caps;
    text-transform:lowercase;
    color:#0c3d33;
    font-weight:700;
}
h2 {
    margin-top:0px;
}
h3 a {
    color:#0c3d33;
    font-weight:700;
}
h3 {
    padding:0;
    margin:5px;
}
.steps {
    margin-top: 0px;
    padding-left:0px;
    font-size: 14px;
}
main {
    position:relative;
    padding-top:40px;
    padding-left: 8px;
    padding-bottom: 30px;
}
main h1 {
    margin-bottom: 0px;
    font-variant:small-caps;
}

.detail-contain {
    display:grid;
    /* grid-template-columns:50vw 50vw; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows:auto;
    grid-gap:25px;
    grid-template-areas:
    "header header"
    "sidebar content";
    /* grid-template-rows: minmax(300px, auto); */
}
.foodintro {
    grid-area: header;
    grid-row-start: 1;
    /* column-span: all; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
}
.ingredlist {
    grid-area: sidebar;
    grid-row-start: 2;
    grid-column-start: 1;
    padding-top:20px;
    text-align: center;
}
.cooksteps {
    padding-top:35px;
    grid-area: sidebar;
    grid-row-start: 2;
    grid-column-start: 2;

}
div.grid-item.ingredlist {
    justify-self: right;
}
div.grid-item.cooksteps {
    justify-self: left;

}
img:hover {
    opacity:.75;
}
img {
    height: 200px;
}
.taco2 {
    width: 202px;
    object-fit:cover;
    /* object-position: center; */
}

.motto b{
    font-style:oblique;
    font-size:18px;
    font-weight:800;
    font-family: futura-pt;
    color:black;
}
footer {
    /* top+bottom: 24px, left+right: 0px */
    padding: 7px 7px;
    font-style: italic;
    font-size: .8em;
    position:fixed;
    bottom:0;
    left:0;
    background-color:goldenrod;
}
.madeby {
    width:100vw;
}
.rating {
    font-weight:600;
}
